{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
      "@typescript-eslint"
    ],
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended",
      "airbnb-base",
      "airbnb-typescript/base"
    ],
    "parserOptions": {
      "project": "./tsconfig.json"
    },
    "rules": {
      "max-len": [ "warn", { "code": 80 } ],
      "no-console": "warn",
      "no-alert": "warn",
      "max-classes-per-file": "off",
      "@typescript-eslint/lines-between-class-members": "off",
      "@typescript-eslint/no-non-null-assertion": "off"
    }
}
